body {
  background-image: url("StarWars.png");
  background-size: cover;
  color: #F2B632;
  font-family: Arial, sans-serif;
}

h1, h2, h3, div {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

pre {
  background-color: #444;
  color: #eee;
  padding: 10px;
}

text {
  color: #F2B632;
}