

body {
  margin: 0;
  align-content: center;
  background-image: url('StarWars.png');
  color: chartreuse ;
  text-align: left;
  border-width: medium;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px #aaa;
}
h1 {
  color: chartreuse;
  text-align: center;
  border: darkblue;
}
